p {
  margin-bottom: 1.3rem;
}

a {
  color: #3572b0;
}

.vds-section__title {
  font-size: 1.3rem;
  color: #333;
  border-bottom: 1px solid #e9e9e9;
}

.vds-icon {
  width: 2rem;
  height: 2rem;
  line-height: 1.6rem;
  border-radius: 0.25rem;
  color: #FFF;
  text-align: center;
  vertical-align: middle;
  font-size: 1.6rem;
  padding: 0.2rem;
}

/* Grid */
.vds-grid-gutters {
  margin: -2em 0 1em -2em;
}
.vds-grid-gutters > div {
  padding: 2em 0 0 2em;
}

html {
  font-size: 92%;
  color: #333;
}

.vds-app {
  width: 100%;
  min-height: 100%;
}

.vds-app-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #151e2b;
  width: 60px;
}
.vds-app-sidebar-header {
  height: 3rem;
  width: 100%;
  background: #205081;
}

.vds-app-container {
  width: 100%;
  padding-left: 60px;
}

.vds-app-sidepanel {
  display: none;
  top: 0;
  bottom: 0;
  position: fixed;
  right: 0;
  width: 230px;
  background-color: #FFF;
}

.vds-app-header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  padding-left: 60px;
}
.vds-app-header .vds-global-header {
  background-color: #205081;
  height: 3rem;
}
.vds-app-header .vds-global-header__item {
  padding: 0 0.75rem;
}
@media (min-width: 48em) {
  .vds-app-header .vds-global-header__item {
    padding: 0 1.5rem;
  }
}

.vds-app-view {
  padding-top: 3rem;
}

.vds-app-sidebar {
  float: left;
  position: relative;
  width: 100%;
  display: none;
  left: auto;
  right: auto;
}

.vds-app-container {
  padding-left: 0;
}

.vds-app-header {
  padding-left: 0;
}

.vds-page-title-fixed .vds-page-title {
  padding-right: 0;
}

.vds-app-sidebar-header {
  height: 3rem;
  width: 100%;
  background: #205081;
  text-align: center;
  font-size: 1.8rem;
  padding-top: 0.2rem;
  color: #FFF;
}
.vds-app-sidebar-container {
  height: 100%;
  border-right: 1px solid #cccccc;
}
.vds-app-sidebar-navigation {
  padding-top: 1rem;
  text-align: center;
}
.vds-app-sidebar-navigation a {
  display: block;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: none;
  color: #FFF;
  height: 32px;
}
.vds-app-sidebar-navigation a:hover {
  background-color: #333333;
}
.vds-app-sidebar-navigation a.active {
  border-left: 0.3rem solid #3572b0;
  padding-left: 0.7rem;
}

.vds-page-title {
  position: fixed;
  z-index: 1000;
  height: 54px;
  width: 100%;
  background-color: #f5f5f5;
  border-bottom: 1px solid #cccccc;
  padding: 0.5rem 0.75rem;
}

.vds-page-header {
  background-color: transparent;
  border: none;
  padding: 0 !important;
}
.vds-page-header .vds-icon {
  width: 2rem;
  height: 2rem;
  padding: 0;
}
.vds-page-header__title {
  font-size: 1.3rem;
}

.vds-page-content {
  position: relative;
  top: 54px;
  background-color: #FFF;
  padding: 0.75rem;
}

@media (min-width: 48em) {
  .vds-page-title {
    height: 84px;
    padding: 1rem 1.5rem;
  }

  .vds-page-header {
    padding: 1.75rem 1.5rem;
  }
  .vds-page-header .vds-icon {
    width: 3.7rem;
    height: 3.7rem;
  }
  .vds-page-header__title {
    font-size: 2.2rem;
  }

  .vds-page-content {
    top: 84px;
    padding: 1.5rem;
  }
}
/*
// Blocks
*/
.vds-block {
  position: relative;
  background: #FFF;
  border: 1px solid #cccccc;
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
.vds-block .vds-block__header {
  float: left;
  width: 100%;
  padding: 7px 14px 7px;
  margin-bottom: 1rem;
  background: #E9E9E9;
  border-bottom: 1px solid #cccccc;
  font-size: 14px;
}
.vds-block .vds-block__header .vds-block__icon {
  float: left;
  margin-right: 0.5rem;
}
.vds-block .vds-block__header .vds-block__title {
  float: left;
  font-weight: 600;
}
.vds-block .vds-block__header .vds-block__options {
  float: right;
  position: relative;
}
.vds-block .vds-block__body {
  margin: 0 auto;
  padding: 1rem 1rem 1rem;
  max-width: 100%;
  overflow-x: visible;
}
.vds-block .vds-block__footer {
  padding: 1rem 1rem 1rem;
}
.vds-block .vds-block__loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

/*
// Breadcrumb
*/
.vds-breadcrumb .vds-list__item,
.vds-breadcrumb__item {
  padding: 0 1rem 0 0;
}

.vds-breadcrumb .vds-list__item > a,
.vds-breadcrumb__item > a {
  padding: 0 0;
}

.vds-breadcrumb .vds-list__item::before,
.vds-breadcrumb__item::before {
  left: -0.75rem;
}

.vds-breadcrumb__item {
  font-size: 0.75rem;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

.vds-button {
  vertical-align: middle;
}
.vds-button--neutral {
  color: #000;
  background-color: #FFF;
  border-color: #CCC;
}
.vds-button--neutral:hover {
  color: #000;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.vds-button--neutral:focus, .vds-button--neutral.focus {
  color: #000;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.vds-button--neutral:active, .vds-button--neutral.active, .open > .vds-button--neutral.dropdown-toggle {
  color: #000;
  background-color: #e6e6e6;
  border-color: #adadad;
  background-image: none;
}
.vds-button--neutral:active:hover, .vds-button--neutral:active:focus, .vds-button--neutral:active.focus, .vds-button--neutral.active:hover, .vds-button--neutral.active:focus, .vds-button--neutral.active.focus, .open > .vds-button--neutral.dropdown-toggle:hover, .open > .vds-button--neutral.dropdown-toggle:focus, .open > .vds-button--neutral.dropdown-toggle.focus {
  color: #000;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
.vds-button--neutral.disabled:focus, .vds-button--neutral.disabled.focus, .vds-button--neutral:disabled:focus, .vds-button--neutral:disabled.focus {
  background-color: #FFF;
  border-color: #CCC;
}
.vds-button--neutral.disabledhover, .vds-button--neutral:disabledhover {
  background-color: #FFF;
  border-color: #CCC;
}
.vds-button--brand {
  color: #FFF;
  background-color: #3572b0;
  border-color: #3572b0;
}
.vds-button--brand:hover {
  color: #FFF;
  background-color: #295989;
  border-color: #275481;
}
.vds-button--brand:focus, .vds-button--brand.focus {
  color: #FFF;
  background-color: #295989;
  border-color: #275481;
}
.vds-button--brand:active, .vds-button--brand.active, .open > .vds-button--brand.dropdown-toggle {
  color: #FFF;
  background-color: #295989;
  border-color: #275481;
  background-image: none;
}
.vds-button--brand:active:hover, .vds-button--brand:active:focus, .vds-button--brand:active.focus, .vds-button--brand.active:hover, .vds-button--brand.active:focus, .vds-button--brand.active.focus, .open > .vds-button--brand.dropdown-toggle:hover, .open > .vds-button--brand.dropdown-toggle:focus, .open > .vds-button--brand.dropdown-toggle.focus {
  color: #FFF;
  background-color: #21476d;
  border-color: #17334e;
}
.vds-button--brand.disabled:focus, .vds-button--brand.disabled.focus, .vds-button--brand:disabled:focus, .vds-button--brand:disabled.focus {
  background-color: #3572b0;
  border-color: #3572b0;
}
.vds-button--brand.disabledhover, .vds-button--brand:disabledhover {
  background-color: #3572b0;
  border-color: #3572b0;
}
.vds-button--destructive {
  color: #FFF;
  background-color: #d04437;
  border-color: #d04437;
}
.vds-button--destructive:hover {
  color: #FFF;
  background-color: #ac3328;
  border-color: #a33126;
}
.vds-button--destructive:focus, .vds-button--destructive.focus {
  color: #FFF;
  background-color: #ac3328;
  border-color: #a33126;
}
.vds-button--destructive:active, .vds-button--destructive.active, .open > .vds-button--destructive.dropdown-toggle {
  color: #FFF;
  background-color: #ac3328;
  border-color: #a33126;
  background-image: none;
}
.vds-button--destructive:active:hover, .vds-button--destructive:active:focus, .vds-button--destructive:active.focus, .vds-button--destructive.active:hover, .vds-button--destructive.active:focus, .vds-button--destructive.active.focus, .open > .vds-button--destructive.dropdown-toggle:hover, .open > .vds-button--destructive.dropdown-toggle:focus, .open > .vds-button--destructive.dropdown-toggle.focus {
  color: #FFF;
  background-color: #8f2b22;
  border-color: #6e211a;
}
.vds-button--destructive.disabled:focus, .vds-button--destructive.disabled.focus, .vds-button--destructive:disabled:focus, .vds-button--destructive:disabled.focus {
  background-color: #d04437;
  border-color: #d04437;
}
.vds-button--destructive.disabledhover, .vds-button--destructive:disabledhover {
  background-color: #d04437;
  border-color: #d04437;
}

.vds-form-element {
  margin-bottom: 1rem;
}
.vds-form-element__label {
  margin-bottom: 0.5rem;
}
.vds-form-element__help {
  margin-top: 0.25rem;
}

.vds-input-has-icon .vds-input__icon {
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  margin-top: 4.5px;
  font-size: 1rem;
}
.vds-has-error .vds-input-has-icon .vds-input__icon {
  color: #d04437;
}

.related-widget-wrapper-link {
  display: none;
}

.djn-tr .original {
  position: absolute;
  left: -100%;
}

.vds-notify {
  border-radius: 3px;
  border: 1px solid #3572b0;
  background: white;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;
  padding-left: 60px;
  padding-right: 40px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-bottom: 13px;
  color: #333;
}
.vds-notify h2 {
  font-weight: 600;
}
.vds-notify__content {
  padding-top: 0;
}
.vds-notify:before {
  background-color: #3572b0;
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}
.vds-notify:after {
  color: #ffffff;
  content: "\f05a";
  font-family: "FontAwesome";
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  left: 11px;
  line-height: 1;
  margin-top: -10px;
  position: absolute;
  speak: none;
  top: 50%;
}
.vds-notify--success {
  background: #fff;
  border-color: #8eb021;
  color: #333;
}
.vds-notify--success:before {
  background-color: #8eb021;
}
.vds-notify--success:after {
  content: "\f00c";
}
.vds-notify--warning {
  background: #fff;
  border-color: #f6c342;
  color: #333;
}
.vds-notify--warning:before {
  background-color: #f6c342;
}
.vds-notify--warning:after {
  content: "\f071";
}
.vds-notify--danger {
  background: #fff;
  border-color: #d04437;
  color: #333;
}
.vds-notify--danger:before {
  background-color: #d04437;
}
.vds-notify--danger:after {
  content: "\f06a";
}

.vds-table thead th {
  color: #333333;
  font-weight: 700;
}

.vds-table--bordered:not(.vds-no-row-hover) tbody tr:hover > td:not(.vds-is-selected), .vds-table--bordered:not(.vds-no-row-hover) tbody tr:hover > th:not(.vds-is-selected) {
  box-shadow: none;
}

.vds-tabs--default__nav {
  padding: 0 0.75rem;
  margin-bottom: 1rem;
}
.vds-tabs--default__nav .vds-tabs--default__link {
  color: #666;
}

.vds-tabs--default__content {
  padding: 0 0.75rem;
}

.vds-tabs--default__item.vds-active .vds-tabs--default__link {
  border-color: #3572b0;
  color: #000;
}

@media (min-width: 48em) {
  .vds-tabs--default__nav {
    padding: 0 1.5rem;
  }

  .vds-tabs--default__content {
    padding: 0 1.5rem;
  }
}

/*# sourceMappingURL=apps.css.map */