html {
  font-size: 92%;
}

.vds-app {
  width: 100%;
  min-height: 100%;
}

.vds-app-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #151e2b;
  width: 60px;
}
.vds-app-sidebar-header {
  height: 3rem;
  width: 100%;
  background: #205081;
}

.vds-app-container {
  width: 100%;
  padding-left: 60px;
}

.vds-app-sidepanel {
  display: none;
  top: 0;
  bottom: 0;
  position: fixed;
  right: 0;
  width: 230px;
  background-color: #FFF;
}

.vds-app-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
  left: 0;
  padding-left: 60px;
}
.vds-app-header .vds-global-header {
  background-color: #205081;
  height: 3rem;
}
.vds-app-header .vds-global-header__item {
  padding: 0 0.75rem;
}
@media (min-width: 48em) {
  .vds-app-header .vds-global-header__item {
    padding: 0 1.5rem;
  }
}

.vds-page {
  padding-top: 3rem;
}

.vds-page-title-fixed .vds-page-title {
  position: fixed;
  width: 100%;
  padding-right: 60px;
}

.vds-page-title-fixed .vds-page-content {
  padding-top: 84px;
}

.vds-app-sidebar {
  float: left;
  position: relative;
  width: 100%;
  display: none;
  left: auto;
  right: auto;
}

.vds-app-container {
  padding-left: 0;
}

.vds-app-header {
  padding-left: 0;
}

.vds-page-title-fixed .vds-page-title {
  padding-right: 0;
}

.vds-app-sidebar-header {
  height: 3rem;
  width: 100%;
  background: #205081;
  text-align: center;
  font-size: 1.8rem;
  padding-top: 0.2rem;
  color: #FFF;
}
.vds-app-sidebar-container {
  height: 100%;
  border-right: 1px solid #cccccc;
}
.vds-app-sidebar-navigation {
  padding-top: 1rem;
  text-align: center;
}
.vds-app-sidebar-navigation a {
  display: block;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: none;
  color: #FFF;
  height: 32px;
}
.vds-app-sidebar-navigation a:hover {
  background-color: #333333;
}
.vds-app-sidebar-navigation a.active {
  border-left: 0.3rem solid #3572b0;
  padding-left: 0.7rem;
}

.vds-page-title .vds-page-header {
  background: #EDEFF0;
  height: 84px;
  border-bottom: 1px solid #CCC;
}

@media (min-width: 48em) {
  .vds-page-header {
    padding: 1.75rem 1.5rem;
  }
}
/*
// Panels
*/
.block-deck {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.block-deck > [class^="col-"] {
  margin-bottom: 30px;
}

.block {
  position: relative;
  background: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.block .block__header {
  float: left;
  width: 100%;
  padding: 1rem 1rem 0 1rem;
}
.block .block__header .block__title {
  float: left;
  font-size: 1.25rem;
  font-weight: 600;
}
.block .block__header .block__title h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}
.block .block__header .block__title p {
  color: #7F8FA4;
  font-size: 0.75rem;
  font-weight: 400;
  margin: 0;
}
.block .block__header .block__options {
  float: right;
  position: relative;
}
.block .block__body {
  margin: 0 auto;
  padding: 1rem 1rem 1rem;
  max-width: 100%;
  overflow-x: visible;
}
.block .block__footer {
  padding: 1rem 1rem 1rem;
}
.block .block__loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

.vds-tabs--default__nav {
  padding: 0 0.75rem;
  margin-bottom: 1rem;
}

.vds-tabs--default__content {
  padding: 0 0.75rem;
}

.vds-tabs--default__item.vds-active {
  font-weight: bold;
}

@media (min-width: 48em) {
  .vds-tabs--default__nav {
    padding: 0 1.5rem;
  }

  .vds-tabs--default__content {
    padding: 0 1.5rem;
  }
}

/*# sourceMappingURL=apps.css.map */
