// Global Vars
$global-background-color: rgb(245, 245, 245);

$global-font-size: 13px !default;
$global-font-family: Arial, sans-serif !default;



// Navigation
$navigation-width: 230px;
$navigation-background-color: #151e2b;

// Sidebar
$sidebar-width: 230px;
$sidebar-background-color: #FFF;

// Header
$header-height: 41px;
$header-background-color: #205081;

// Content


// Footer
$footer-color: #707070;



// Success
$success-bg-color: #67ab49;

// Info
$info-bg-color: #3572b0;

// Warning
$warning-bg-color: #f79232;

// Error
$error-bg-color: #d04437;

