
.vds-page{

}

.vds-page-title{
  position: fixed;
  z-index:1000;
  height: 54px;
  width: 100%;
  background-color: $vds-page-title-background-color;
  border-bottom: 1px solid $vds-page-title-border-color;
  padding:0.5rem 0.75rem;
}


.vds-page-header {
  background-color: transparent;
  border: none;
  padding:0 !important;

  .vds-icon {
      width:2rem;
      height:2rem;
      padding:0;
  }

  &__title {
    font-size:1.3rem;
  }
}

.vds-page-content {
  position: relative;
  top: 54px;
  background-color: $vds-page-content-background-color;
  padding: 0.75rem
}

@media (min-width: 48em) {
  .vds-page-title {
    height: $vds-page-title-height;
    padding: 1rem 1.5rem;
  }

  .vds-page-header {
    padding: 1.75rem 1.5rem;

    .vds-icon {
      width: 3.7rem;
      height: 3.7rem;
    }

    &__title {
      font-size:2.2rem;
    }

  }

  .vds-page-content{
    top: $vds-page-title-height;
    padding: 1.5rem
  }
}