{% extends "design_head.html" %}

{% block head_title %}Form{% endblock %}

{% block content %}

    <style>

        section {

            background: #fff;
            border:1px solid #aaa;
            padding:15px;

            border-radius: 0.25rem;

            margin-bottom: 25px;

        }

        .form-group label {

        }

        .form-group label .required {
            color:#d04437;
        }


    </style>

    <section class="block">
        <h4>Labels</h4>

        <div class="form-group">
            <label for="labelExample">Field label</label>
            <input type="text" id="labelExample" class="form-control" placeholder="e.g Project name">
        </div>

        <div class="form-group">
            <label for="labelExampleRequired">Field label <span class="required">*</span></label>
            <input type="text" id="labelExampleRequired" class="form-control" placeholder="Disabled input">
        </div>

        <div class="form-group row">
            <label class="col-sm-2">Radios</label>
            <div class="col-sm-10">
              <div class="radio">
                <label>
                  <input type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                  Option one is this and that&mdash;be sure to include why it's great
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="gridRadios" id="gridRadios2" value="option2">
                  Option two can be something else and selecting it will deselect option one
                </label>
              </div>
              <div class="radio disabled">
                <label>
                  <input type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                  Option three is disabled
                </label>
              </div>
            </div>
        </div>

    </section>



    <section class="block">

        <h4>Input</h4>

        <p>Basic element</p>

        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email here" />
        <br />
        <input type="text" class="form-control form-control__focus" id="exampleInputEmail1" placeholder="Focus input here" />
        <br />
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email here" value="info@example.org"/>
        <br />
        <input type="text" class="form-control" id="readOnlyInput" value="Readonly input here…" readonly />
        <br />
        <input type="text" class="form-control" id="disabledInput"  placeholder="Disabled input here..." disabled />
        <br />
        <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">@</span>
              <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
        </div>
        <br>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">@example.com</span>
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">https://example.com/users/</span>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
        </div>
        <br>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
          <span class="input-group-addon">.00</span>
        </div>
        <br />
        <p class="form-control-static">email@example.com</p>

    </section>

{% endblock %}