{% extends "design_head.html" %}

{% block head_title %}Component{% endblock %}

{% block content %}

    <div class="message message-error">
        <p class="title">
            <strong>Delete</strong>
        </p>
        <p>You have backed up your system to C:/backups/filename.xml.</p>
    </div>



{#     <ol class="breadcrumb">#}
{#                <li class="breadcrumb-item"><a href="#">Collection</a></li>#}
{#                <li class="breadcrumb-item"><a href="#">Product</a></li>#}
{#                <li class="breadcrumb-item active">10002.01 - Horloge Box</li>#}
{#            </ol>#}

    <div class="page-panel">
        <div class="page-panel-title">
            Name of Panel
        </div>
        <div class="page-panel-content">
            <p>Index pagina, please add your content to the panel</p>
            <ul>
                <li><a href="/components/button/">Button</a></li>
                <li><a href="/components/messages/">Messages</a></li>
                <li><a href="/components/form/">Form</a></li>
            </ul>
        </div>
    </div>

{% endblock %}