{% extends "vds/base.html" %}

{% block head_title %}Component Panel{% endblock %}

{% block page-content %}

    <style type="text/css">
        p {
            margin-bottom:14px;
        }

    </style>

    <p>
        A card present a high level of information and guides the user toward actions and details. <br/>
        Card use the block-element.
    </p>

    <p>
        TODO
        <ul class="vds-list--dotted">
            <li>Panels with options</li>
            <li>Panels JS load / block</li>
            <li>Panels transparent version</li>
            <li>More tile background-colors</li>
            <li>Better background color panel title</li>
        </ul>
    </p>

    <p>
        A basic example of a block the just some text
    </p>
    <div class="example">
        <div class="vds-grid vds-grid-gutters">

            <div class="vds-size--1-of-3">
                <div class="vds-block">
                    <div class="vds-block__body">
                        A Content
                    </div>
                </div>
            </div>

            <div class="vds-size--1-of-3">
                <div class="vds-block">
                    <div class="vds-block__body">
                        B Content
                    </div>
                </div>
            </div>

        </div>
    </div>

    <p>A block can have a title</p>
    <div class="example">
        <div class="vds-grid vds-grid-gutters">

            <div class="vds-size--1-of-3">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__title">
                            A Title
                        </div>
                    </div>
                    <div class="vds-block__body">
                        A Content
                    </div>
                </div>
            </div>

            <div class="vds-size--1-of-3">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__title">
                            B Title
                        </div>
                    </div>
                    <div class="vds-block__body">
                        B Content
                    </div>
                </div>
            </div>

        </div>
    </div>

    <p>A block can have a title & icon</p>
    <div class="example">
        <div class="vds-grid vds-grid-gutters">

            <div class="vds-size--1-of-3">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-car"></i>
                        </div>
                        <div class="vds-block__title">
                            A Title & Icon
                        </div>
                    </div>
                    <div class="vds-block__body">
                        A Content
                    </div>
                </div>
            </div>

            <div class="vds-size--1-of-3">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="vds-block__title">
                            B Title & Icon
                        </div>
                    </div>
                    <div class="vds-block__body">
                        B Content
                    </div>
                </div>
            </div>

        </div>
    </div>

    <p>A block can have a title, icon & options</p>
    <div class="example">
        <div class="vds-grid vds-grid-gutters">

            <div class="vds-size--1-of-3">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-car"></i>
                        </div>
                        <div class="vds-block__title">
                            A Title, Icon & Options
                        </div>
                        <div class="vds-block__options">
                            <a class="vds-button vds-button--neutral">Option A</a>
                            <a class="vds-button vds-button--neutral">Option A</a>
                        </div>
                    </div>
                    <div class="vds-block__body">
                        A Content
                    </div>
                </div>
            </div>

            <div class="vds-size--1-of-3">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="vds-block__title">
                            B Title, Icon & Options
                        </div>
                        <div class="vds-block__options">
                            <a class="vds-button vds-button--neutral">Option B</a>
                            <a class="vds-button vds-button--neutral">Option B</a>
                        </div>
                    </div>
                    <div class="vds-block__body">
                        B Content
                    </div>
                </div>
            </div>

        </div>
    </div>

    <p>A block can have a title, icon, options & footer</p>
    <div class="example">
        <div class="vds-grid vds-grid-gutters">

            <div class="vds-size--1-of-3">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-car"></i>
                        </div>
                        <div class="vds-block__title">
                            A Title, Icon & Options
                        </div>
                        <div class="vds-block__options">
                            <a class="vds-button vds-button--neutral">Option A</a>
                            <a class="vds-button vds-button--neutral">Option A</a>
                        </div>
                    </div>
                    <div class="vds-block__body">
                        A Content
                    </div>
                </div>
            </div>

            <div class="vds-size--1-of-3">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="vds-block__title">
                            B Title, Icon & Options
                        </div>
                        <div class="vds-block__options">
                            <a class="vds-button vds-button--neutral">Option B</a>
                            <a class="vds-button vds-button--neutral">Option B</a>
                        </div>
                    </div>
                    <div class="vds-block__body">
                        B Content
                    </div>
                </div>
            </div>

        </div>
    </div>

    <h2>States</h2>
    <p>Predefined functions to show/hide loading layer</p>
    <div class="example">
        <div class="vds-grid vds-grid-gutters">

            <div class="vds-size--1-of-3">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-car"></i>
                        </div>
                        <div class="vds-block__title">
                            A Title, Icon & Options
                        </div>
                        <div class="vds-block__options">
                            <a class="vds-button vds-button--neutral">Option A</a>
                            <a class="vds-button vds-button--neutral">Option A</a>
                        </div>
                    </div>
                    <div class="vds-block__body">
                        A Content
                    </div>
                    <div class="vds-block__loading">
                        Loading
                    </div>
                </div>
            </div>

            <div class="vds-size--1-of-3">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="vds-block__title">
                            B Title, Icon & Options
                        </div>
                        <div class="vds-block__options">
                            <a class="vds-button vds-button--neutral">Option B</a>
                            <a class="vds-button vds-button--neutral">Option B</a>
                        </div>
                    </div>
                    <div class="vds-block__body">
                        B Content
                    </div>
                    <div class="vds-block__loading">
                        Loading
                    </div>
                </div>
            </div>

        </div>
    </div>

    <h2>Arrow</h2>
    <p>A block can have a arrow to show as a pophove</p>
    <div class="example">
        <div class="vds-grid vds-grid-gutters">

            <div class="vds-size--1-of-3">
                <div class="vds-block vds-nubbin--left">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-car"></i>
                        </div>
                        <div class="vds-block__title">
                            A Title, Icon & Options
                        </div>
                        <div class="vds-block__options">
                            <a class="vds-button vds-button--neutral">Option A</a>
                            <a class="vds-button vds-button--neutral">Option A</a>
                        </div>
                    </div>
                    <div class="vds-block__body">
                        A Content
                    </div>
                </div>
            </div>

            <div class="vds-size--1-of-3">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="vds-block__title">
                            B Title, Icon & Options
                        </div>
                        <div class="vds-block__options">
                            <a class="vds-button vds-button--neutral">Option B</a>
                            <a class="vds-button vds-button--neutral">Option B</a>
                        </div>
                    </div>
                    <div class="vds-block__body">
                        B Content
                    </div>
                </div>
            </div>

        </div>
    </div>


    <h2>Grid</h2>
    <p>A block item fits perfectly in a grid system</p>

    <div class="example">
        <div class="vds-grid vds-wrap vds-grid-gutters">

            <div class="vds-size--1-of-8">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="vds-block__title">
                            A Title
                        </div>
                    </div>
                    <div class="vds-block__body">
                        A Content
                    </div>
                </div>
            </div>

            <div class="vds-size--1-of-8">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="vds-block__title">
                            B Title
                        </div>
                    </div>
                    <div class="vds-block__body">
                        B Content
                    </div>
                </div>
            </div>

            <div class="vds-size--1-of-8">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="vds-block__title">
                            C Title
                        </div>
                    </div>
                    <div class="vds-block__body">
                        C Content
                    </div>
                </div>
            </div>

            <div class="vds-size--1-of-8">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="vds-block__title">
                            D Title
                        </div>
                    </div>
                    <div class="vds-block__body">
                        D Content
                    </div>
                </div>
            </div>

            <div class="vds-size--1-of-8">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="vds-block__title">
                            E Title
                        </div>
                    </div>
                    <div class="vds-block__body">
                        E Content
                    </div>
                </div>
            </div>

            <div class="vds-size--1-of-8">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="vds-block__title">
                            F Title
                        </div>
                    </div>
                    <div class="vds-block__body">
                        F Content
                    </div>
                </div>
            </div>

            <div class="vds-size--1-of-8">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="vds-block__title">
                            G Title
                        </div>
                    </div>
                    <div class="vds-block__body">
                        G Content
                    </div>
                </div>
            </div>

            <div class="vds-size--1-of-8">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="vds-block__title">
                            H Title
                        </div>
                    </div>
                    <div class="vds-block__body">
                        H Content
                    </div>
                </div>
            </div>

            <div class="vds-size--1-of-8">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="vds-block__title">
                            I Title
                        </div>
                    </div>
                    <div class="vds-block__body">
                        I Content
                    </div>
                </div>
            </div>

            <div class="vds-size--1-of-8">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="vds-block__title">
                            J Title
                        </div>
                    </div>
                    <div class="vds-block__body">
                        J Content
                    </div>
                </div>
            </div>

            <div class="vds-size--1-of-8">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="vds-block__title">
                            K Title
                        </div>
                    </div>
                    <div class="vds-block__body">
                        K Content
                    </div>
                </div>
            </div>

            <div class="vds-size--1-of-8">
                <div class="vds-block">
                    <div class="vds-block__header">
                        <div class="vds-block__icon">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="vds-block__title">
                            L Title
                        </div>
                    </div>
                    <div class="vds-block__body">
                        L Content
                    </div>
                </div>
            </div>


        </div>
    </div>

</div>

{% endblock %}