{% extends "design_head.html" %}

{% block head_title %}Component - Page Header{% endblock %}

{% block content %}

    <div class="page-header">
        <div class="page-header-title">
            <h1>Product <small class="text-muted"># 10002.01 - Horloge Box</small></h1>
        </div>
        <div class="page-header-actions">
            <button type="button" class="btn btn-primary">Primary</button>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Left</button>
                <button type="button" class="btn btn-secondary">Middle</button>
                <button type="button" class="btn btn-secondary">Right</button>
            </div>
            <button type="button" class="btn btn-success">Opslaan</button>
        </div>
    </div>

{% endblock %}