{% extends "vds/base.html" %}

{% block head_title %}Form Layout{% endblock %}

{% block page-content %}


    <div class="vds-block">
        <div class="vds-block__header">
            <div class="vds-block__title">Basic Layout</div>
        </div>
        <div class="vds-block__body">
            <div class="vds-form--horizontal">
              <div class="vds-form-element">
                <label class="vds-form-element__label" for="inputSample2">Text Input</label>
                <div class="vds-form-element__control">
                  <input id="inputSample2" class="vds-input" type="text" placeholder="Placeholder Text" />
                </div>
              </div>
              <div class="vds-form-element">
                <label class="vds-form-element__label" for="textareaSample2">Textarea Label</label>
                <div class="vds-form-element__control">
                  <textarea id="textareaSample2" class="vds-textarea"></textarea>
                </div>
              </div>
              <div class="vds-form-element">
                <div class="vds-form-element__label vds-form-element__legend">Checkbox Group label</div>
                <div class="vds-form-element__control">
                  <label class="vds-checkbox" for="opportunities-ownership">
                    <input name="default" type="checkbox" id="opportunities-ownership" />
                    <span class="vds-form-element__label">All opportunities owned by you</span>
                  </label>
                  <label class="vds-checkbox" for="contact-ownership">
                    <input name="default" type="checkbox" id="contact-ownership" />
                    <span class="vds-form-element__label">All contacts in the account owned by you</span>
                  </label>
                </div>
              </div>
              <div class="vds-form-element">
                <legend class="vds-form-element__legend vds-form-element__label">Radio Group label</legend>
                <div class="vds-form-element__control">
                  <label class="vds-radio" for="lead">
                    <input type="radio" name="options" id="lead" />
                    <span class="vds-form-element__label">Lead Generation</span>
                  </label>
                  <label class="vds-radio" for="education">
                    <input type="radio" name="options" id="education" />
                    <span class="vds-form-element__label">Education Leads</span>
                  </label>
                </div>
              </div>
              <div class="vds-form-element">
                <div class="vds-form-element__control">
                  <label class="vds-checkbox" for="agree">
                    <input name="default" type="checkbox" id="agree" />
                    <span class="vds-checkbox--faux"></span>
                    <span class="vds-form-element__label">I agree to the Terms &amp; Service</span>
                  </label>
                </div>
              </div>
            </div>
        </div>
    </div>

    <br />
    <br />

    <div class="vds-block">
        <div class="vds-block__header">
            <div class="vds-block__icon">
                <i class="fa fa-archive"></i>
            </div>
            <div class="vds-block__title">
                Create a project
            </div>
        </div>
        <div class="vds-block__body">
            <p>
                Projects are where your repositories live. They are contrainers you
                can group similar repositories in for better code organisations
            </p>
            <div class="vds-form--horizontal">
                <div class="vds-form-element">
                    <label class="vds-form-element__label" for="project.name">Project name
                        <abbr class="vds-required" title="required">*</abbr>
                    </label>
                    <div class="vds-form-element__control">
                        <input id="project.name" class="vds-input" type="text" />
                    </div>
                </div>
                <div class="vds-form-element">
                    <label class="vds-form-element__label" for="project.key">Key
                    </label>
                    <div class="vds-form-element__control">
                        <input id="project.key" class="vds-input" type="text"  placeholder="Eg. AT (project named Atlassian)" />
                    </div>
                </div>
                <div class="vds-form-element">
                    <label class="vds-form-element__label" for="project.description">Description
                    </label>
                    <div class="vds-form-element__control">
                        <textarea id="project.description" class="vds-textarea"></textarea>
                    </div>
                </div>
                <div class="vds-form-element">
                    <label class="vds-form-element__label" for="project.description">Description
                    </label>
                    <div class="vds-form-element__control">
                        <textarea id="project.description" class="vds-textarea"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />

    <div class="vds-grid vds-wrap vds-grid-gutters">

        <div class="vds-size--1-of-2">
            <div class="vds-block">
                <div class="vds-block__header">
                    <div class="vds-block__title">
                        Formset 1 of 2
                    </div>
                </div>
                <div class="vds-block__body">
                    <div class="vds-form--horizontal">
                        <div class="vds-form-element">
                            <label class="vds-form-element__label" for="project1.name">Project name
                                <abbr class="vds-required" title="required">*</abbr>
                            </label>
                            <div class="vds-form-element__control">
                                <input id="project1.name" class="vds-input" type="text" />
                            </div>
                        </div>
                        <div class="vds-form-element">
                            <label class="vds-form-element__label" for="project1.key">Key
                            </label>
                            <div class="vds-form-element__control">
                                <input id="project1.key" class="vds-input" type="text"  placeholder="Eg. AT (project named Atlassian)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vds-size--1-of-2">
            <div class="vds-block">
                <div class="vds-block__header">
                    <div class="vds-block__title">
                        Formset 1 of 2
                    </div>
                </div>
                <div class="vds-block__body">
                    <div class="vds-form--horizontal">
                        <div class="vds-form-element">
                            <label class="vds-form-element__label" for="project1.name">Project name
                                <abbr class="vds-required" title="required">*</abbr>
                            </label>
                            <div class="vds-form-element__control">
                                <input id="project1.name" class="vds-input" type="text" />
                            </div>
                        </div>
                        <div class="vds-form-element">
                            <label class="vds-form-element__label" for="project1.key">Key
                            </label>
                            <div class="vds-form-element__control">
                                <input id="project1.key" class="vds-input" type="text"  placeholder="Eg. AT (project named Atlassian)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vds-size--1-of-1">
            <div class="vds-block">
                <div class="vds-block__header">
                    <div class="vds-block__title">
                        Formset 1 of 1
                    </div>
                </div>
                <div class="vds-block__body">
                    <div class="vds-form--horizontal">
                        <div class="vds-form-element">
                            <label class="vds-form-element__label" for="project1.name">Project name
                                <abbr class="vds-required" title="required">*</abbr>
                            </label>
                            <div class="vds-form-element__control">
                                <input id="project1.name" class="vds-input" type="text" />
                            </div>
                        </div>
                        <div class="vds-form-element">
                            <label class="vds-form-element__label" for="project1.key">Key
                            </label>
                            <div class="vds-form-element__control">
                                <input id="project1.key" class="vds-input" type="text"  placeholder="Eg. AT (project named Atlassian)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vds-size--1-of-3">
            <div class="vds-block">
                <div class="vds-block__header">
                    <div class="vds-block__title">
                        Formset 1 of 3
                    </div>
                </div>
                <div class="vds-block__body">
                    <div class="vds-form--horizontal">
                        <div class="vds-form-element">
                            <label class="vds-form-element__label" for="project1.name">Project name
                                <abbr class="vds-required" title="required">*</abbr>
                            </label>
                            <div class="vds-form-element__control">
                                <input id="project1.name" class="vds-input" type="text" />
                            </div>
                        </div>
                        <div class="vds-form-element">
                            <label class="vds-form-element__label" for="project1.key">Key
                            </label>
                            <div class="vds-form-element__control">
                                <input id="project1.key" class="vds-input" type="text"  placeholder="Eg. AT (project named Atlassian)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vds-size--2-of-3">
            <div class="vds-block">
                <div class="vds-block__header">
                    <div class="vds-block__title">
                        Formset 2 of 3
                    </div>
                </div>
                <div class="vds-block__body">
                    <div class="vds-form--horizontal">
                        <div class="vds-form-element">
                            <label class="vds-form-element__label" for="project1.name">Project name
                                <abbr class="vds-required" title="required">*</abbr>
                            </label>
                            <div class="vds-form-element__control">
                                <input id="project1.name" class="vds-input" type="text" />
                            </div>
                        </div>
                        <div class="vds-form-element">
                            <label class="vds-form-element__label" for="project1.key">Key
                            </label>
                            <div class="vds-form-element__control">
                                <input id="project1.key" class="vds-input" type="text"  placeholder="Eg. AT (project named Atlassian)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






{% endblock %}