{% extends "vds/base.html" %}

{% block head_title %}Header{% endblock %}

{% block page-header %}

    <div class="vds-page-header" role="banner">
        <div class="vds-grid">

            <div class="vds-col vds-has-flexi-truncate">
                <div class="vds-media vds-media--center vds-no-space vds-grow">

{#                  <div class="vds-media__figure">#}
{#                      <div class="vds-icon vds-icon-{{ detail_header.icon }}">#}
{#                          <i class="fa fa-{{ detail_header.icon }}" aria-hidden="true"></i>#}
{#                      </div>#}
{#                  </div>#}

                    <div class="vds-media__body">
                        <nav role="navigation" aria-label="Breadcrumbs">
                            <ol class="vds-breadcrumb vds-list--horizontal">
                                <li class="vds-breadcrumb__item"><a href="/">Dashboard</a></li>
                                <li class="vds-breadcrumb__item"><a href="/components/">WMS</a></li>
                                <li class="vds-breadcrumb__item"><a href="/components/">Shipments</a></li>
                            </ol>
                        </nav>

                        <p class="vds-page-header__title vds-m-right--small vds-align-middle vds-truncate" title="{{ detail_header.subtitle }}">
                            Create Shipment
                        </p>
                    </div>
                </div>
            </div>

            <div class="vds-col vds-no-flex vds-grid vds-align-middle">
                <a class="vds-button vds-button--neutral">Button A</a>
                <a class="vds-button vds-button--neutral">Button A</a>
                <a class="vds-button vds-button--neutral">Button A</a>
            </div>

        </div>
    </div>

{% endblock %}

{% block page-content %}

     <div class="page-header">
        <div class="page-header--icon">
            Icon
        </div>
        <div class="page-header--title">
            <div class="page-header--record-type">
                Record type
            </div>
            <div class="page-header--record-name">
                Record name
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </div>
        <div class="page-header--actions">
            <button type="button" class="btn btn-secondary">Seconadry</button>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Left</button>
                <button type="button" class="btn btn-secondary">Middle</button>
                <button type="button" class="btn btn-secondary">Right</button>
            </div>
            <button type="button" class="btn btn-primary">Primary</button>
        </div>
    </div>
    <div class="page-content">
        <p>Content</p>
        <p>Content</p>
        <p>Content</p>
    </div>

    <div class="page-header page-header--small">
        <div class="page-header--icon">
            Icon
        </div>
        <div class="page-header--title">
            <div class="page-header--record-type">
                Record type
            </div>
            <div class="page-header--record-name">
                Record name
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </div>
        <div class="page-header--actions">
            <button type="button" class="btn btn-primary">Primary</button>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary">Left</button>
                <button type="button" class="btn btn-primary">Middle</button>
                <button type="button" class="btn btn-primary">Right</button>
            </div>
            <button type="button" class="btn btn-primary">Primary</button>
        </div>
    </div>
    <div class="page-content">
        <p>Content</p>
        <p>Content</p>
        <p>Content</p>
    </div>

    <div class="page-header page-header--small page-header--transparent">
        <div class="page-header--title">
            <div class="page-header--record-name">
                Panels with title
            </div>
            <p>We prepared ready to use functions for you</p>
        </div>
    </div>

{% endblock %}