{% extends "design_head.html" %}

{% block head_title %}Component Messages{% endblock %}

{% block content %}
    <h1>Messages</h1>

    <h3>Inline notifications</h3>
    <p>Inline notifications are part of the content of a user interface, and are used to alert users of a particular
        screen area that needs user action. These notifications can appear within a page or dialog. They are not
        dismissible, and only disappear once the issue has been resolved.</p>


    <div class="example">

        <div class="message">
            <p class="title">
                <strong>Backup stale</strong>
            </p>
            <p>This instance was last backed up on Thursday, 18 September 2011.</p>
        </div>

        <div class="message message-warning">
            <p class="title">
                <strong>Backing up attachments</strong>
            </p>
            <p>Attachments will not be backed up. This needs to be done manually.</p>
        </div>

        <div class="message message-error">
            <p class="title">
                <strong>Destructive operation!</strong>
            </p>
            <p>Data import will wipe all existing content - make sure you backup first!</p>
        </div>


        <div class="message message-success">
            <p class="title">
                <strong>Success!</strong>
            </p>
            <p>You have backed up your system to C:/backups/filename.xml.</p>
        </div>

        <div class="message message-hint">
            <p class="title">
                <strong>Backup stale</strong>
            </p>
            <p>This instance was last backed up on Thursday, 18 September 2011.</p>
        </div>

    </div>

    <h3>Message Actions</h3>

    <div class="example">

        <div class="message message-warning">
            <p><strong>License expires</strong> in 14 days. If the license expires, access to your instance will be restricted.</p>
            <ul class="nav-actions-list">
                <li><a href="#">Renew license</a></li>
                <li><a href="#">Remind me later</a></li>
            </ul>
        <span class="aui-icon icon-close" role="button" tabindex="0"></span></div>

    </div>

{% endblock %}