{% extends "vds/base.html" %}

{% block head_title %}Component Button{% endblock %}

{% block page-header %}
<h1>Breadcrumbs</h1>
{% endblock %}

{% block page-content %}

    <nav role="navigation" aria-label="Breadcrumbs">
        <ol class="vds-breadcrumb vds-list--horizontal">
            <li class="vds-breadcrumb__item"><a href="javascript:void(0);">Parent Entity</a></li>
            <li class="vds-breadcrumb__item"><a href="javascript:void(0);">Parent Record Name</a></li>
        </ol>
    </nav>

    <br />

    <nav role="navigation" aria-label="Breadcrumbs">
        <ol class="vds-breadcrumb vds-list--horizontal">
            <li class="vds-breadcrumb__item"><a href="javascript:void(0);">Parent Entity</a></li>
            <li class="vds-breadcrumb__item"><a href="javascript:void(0);">Parent Record Name</a></li>
            <li class="vds-breadcrumb__item">Name</li>
        </ol>
    </nav>

    <br />

    <nav role="navigation" aria-label="Breadcrumbs">
        <ol class="vds-breadcrumb vds-list--horizontal">
            <li class="vds-breadcrumb__item">
                <a href="javascript:void(0);">Dashboard</a>
            </li>
            <li class="vds-breadcrumb__item">
                <a href="javascript:void(0);">PIM</a>
            </li>
            <li class="vds-breadcrumb__item">
                <a href="javascript:void(0);">Products</a>
            </li>
            <li class="vds-breadcrumb__item">
                PH39281 - Philips Bureau Lamp
            </li>
        </ol>
    </nav>

    <br />

    <nav role="navigation" aria-label="Breadcrumbs">
        <ol class="vds-breadcrumb vds-list--horizontal">
            <li class="vds-breadcrumb__item">
                <a href="/">Dashboard</a>
            </li>
            <li class="vds-breadcrumb__item">
                <a href="/components/">Components</a>
            </li>
        </ol>
    </nav>

{% endblock %}