{% extends "design_head.html" %}

{% block head_title %}Component{% endblock %}

{% block content %}

    <div class="message message-error">
        <p class="title">
            <strong>Delete</strong>
        </p>
        <p>You have backed up your system to C:/backups/filename.xml.</p>
    </div>

    <div class="page-header">
        <div class="page-header-title">
            <h1>Product <small class="text-muted"># 10002.01 - Horloge Box</small></h1>
        </div>
        <div class="page-header-actions">
            <button type="button" class="btn btn-primary">Primary</button>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Left</button>
                <button type="button" class="btn btn-secondary">Middle</button>
                <button type="button" class="btn btn-secondary">Right</button>
            </div>
            <button type="button" class="btn btn-success">Opslaan</button>
        </div>
    </div>

{#     <ol class="breadcrumb">#}
{#                <li class="breadcrumb-item"><a href="#">Collection</a></li>#}
{#                <li class="breadcrumb-item"><a href="#">Product</a></li>#}
{#                <li class="breadcrumb-item active">10002.01 - Horloge Box</li>#}
{#            </ol>#}

    <div class="page-panel">
        <div class="page-panel-title">
            Name of Panel
        </div>
        <div class="page-panel-content">
            <p>Index pagina, please add your content to the panel</p>
            <ul>
                <li><a href="/components/button/">Button</a></li>
                <li><a href="/components/messages/">Messages</a></li>
                <li><a href="/components/form/">Form</a></li>
            </ul>
        </div>
    </div>

{% endblock %}