{% extends "vds/base.html" %}

{% block head_title %}Component Labels{% endblock %}

{% block page %}

    <h3>Labels</h3>
    <p></p>

    <section>
        <h4>Contextual variations</h4>
        <p>Add any of the below mentioned modifier classes to change the appearance of a label.</p>
        <span class="label label-default">Default</span>
        <span class="label label-primary">Primary</span>
        <span class="label label-success">Success</span>
        <span class="label label-info">Info</span>
        <span class="label label-warning">Warning</span>
        <span class="label label-danger">Danger</span>
    </section>

    <section>
        <h4>Pill labels</h4>
        <p>Use the .label-pill modifier class to make labels more rounded (with a larger border-radius and additional horizontal padding). Useful if you miss the badges from v3.</p>
        <span class="label label-pill label-default">Default</span>
        <span class="label label-pill label-primary">Primary</span>
        <span class="label label-pill label-success">Success</span>
        <span class="label label-pill label-info">Info</span>
        <span class="label label-pill label-warning">Warning</span>
        <span class="label label-pill label-danger">Danger</span>
    </section>

{% endblock %}