{% extends "design_head.html" %}

{% block head_title %}Component{% endblock %}

{% block content %}

    <h2>Components</h2>

    <p>
        <ul>
            <li><a href="/components/chart/">Chart</a></li>
            <li><a href="/components/breadcrumb/">Breadcrumb</a></li>
            <li><a href="/components/button/">Button</a></li>
            <li><a href="/components/button-group/">Button Group</a></li>
            <li><a href="/components/button-dropdown/">Button Dropdown</a></li>
            <li><a href="/components/form-input/">Form Input (Select2, Switch, Editor)</a></li>
            <li><a href="/components/form-validation/">Form Validation</a></li>
            <li><a href="/components/form-layout/">Form Layout</a></li>
            <li><a href="/components/header/">Header</a></li>
            <li><a href="/components/keyboard/">Keyboard shortcuts</a></li>
            <li><a href="/components/lookups/">Lookups</a></li>
            <li><a href="/components/loader/">Loader / Spinner / Dimmer</a></li>
            <li><a href="/components/modals/">Modals</a></li>
            <li><a href="/components/notification/">Notification (Toast)</a></li>
            <li><a href="/components/sidebar/">Sidebar</a></li>
            <li><a href="/components/pagination/">Pagination</a></li>
            <li><a href="/components/panel/">Panel / Card</a></li>
            <li><a href="/components/popover/">Popover / Tooltip</a></li>
            <li><a href="/components/process-indicator/">Process Indicator</a></li>
            <li><a href="/components/process-tracker/">Process Tracker</a></li>
            <li><a href="/components/tabs/">Tabs / Navbar</a></li>
            <li><a href="/components/table/">Table</a></li>
            <li><a href="/components/table-factes/">Table Filters</a></li>
            <li><a href="/components/tags/">Tags / Badges / Lozenges </a></li>
        </ul>
    </p>

{% endblock %}