{% extends "design_head.html" %}

{% block head_title %}Component Panel{% endblock %}

{% block content %}

<h1>Panel</h1>
    <p>
        The building parts of the page
    </p>

    <p>
        TODO
        <ul>
            <li>Panels with options</li>
            <li>Panels JS load / block</li>
            <li>Panels transparent version</li>
            <li>More tile background-colors</li>
            <li>Better background color panel title</li>
        </ul>
    </p>

    <h4>Panels</h4>
    <div class="row">

        <div class="col-sm-4">
            <div class="page-panel">
                <div class="page-panel__content">
                    Panel A
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="page-panel">
                <div class="page-panel__content">
                    Panel B
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="page-panel">
                <div class="page-panel__content">
                    Panel C
                </div>
            </div>
        </div>

         <div class="col-sm-8">
            <div class="page-panel">
                <div class="page-panel__content">
                    Panel D
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="page-panel">
                <div class="page-panel__content">
                    Panel E
                </div>
            </div>
        </div>

    </div>

    <h4>Panels with title</h4>
    <div class="row">
        <div class="col-sm-4">
            <div class="page-panel">
                <div class="page-panel__title">
                    Panel Title A
                </div>
                <div class="page-panel__content">
                    <p>Content</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="page-panel">
                <div class="page-panel__title">
                    Panel Title B
                </div>
                <div class="page-panel__content">
                    <p>Content</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="page-panel">
                <div class="page-panel__title">
                    Panel Title C
                </div>
                <div class="page-panel__content">
                    <p>Content</p>
                </div>
            </div>
        </div>
    </div>

    <h4>Panels with options</h4>
    <div class="row">

        <div class="col-sm-4">
            <div class="page-panel">
                <div class="page-panel__title">
                    Panel Title A
                </div>
                <div class="page-panel__content">
                    <p>Content</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="page-panel">
                <div class="page-panel__title">
                    Panel Title B
                </div>
                <div class="page-panel__content">
                    <p>Content</p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="page-panel">
                <div class="page-panel__title">
                    Panel Title C
                </div>
                <div class="page-panel__content">
                    <p>Content</p>
                </div>
            </div>
        </div>

    </div>


    <h4>Tiles as Icons</h4>
    <div class="row row-grid">

        <div class="col-xs-6 col-sm-4 col-lg-2">
            <a href="/" class="page-tile">
                <div class="page-tile__content page-tile__content--navy">
                    <div class="page-tile__icon">
                         <i class="fa fa-arrow-up"></i>
                    </div>
                    <div class="page-tile__label">
                        Songs
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-lg-2">
            <a href="/" class="page-tile">
                <div class="page-tile__content page-tile__content--green">
                    <div class="page-tile__icon">
                         <i class="fa fa-arrow-up"></i>
                    </div>
                    <div class="page-tile__label">
                        Songs
                    </div>
                </div>
            </a>
        </div>

         <div class="col-xs-6 col-sm-4 col-lg-2">
            <a href="/" class="page-tile">
                <div class="page-tile__content">
                    <div class="page-tile__icon">
                         <i class="fa fa-arrow-up text-success"></i>
                    </div>
                    <div class="page-tile__label">
                        Songs
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-lg-2">
            <a href="/" class="page-tile">
                <div class="page-tile__content">
                    <div class="page-tile__icon">
                         <i class="fa fa-arrow-up text-success"></i>
                    </div>
                    <div class="page-tile__label">
                        Songs
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-lg-2">
            <a href="/" class="page-tile">
                <div class="page-tile__content">
                    <div class="page-tile__icon">
                         <i class="fa fa-arrow-up text-success"></i>
                    </div>
                    <div class="page-tile__label">
                        Songs
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-lg-2">
            <a href="/" class="page-tile">
                <div class="page-tile__content">
                    <div class="page-tile__icon">
                         <i class="fa fa-arrow-up text-success"></i>
                    </div>
                    <div class="page-tile__label">
                        Songs
                    </div>
                </div>
            </a>
        </div>

    </div>

    <div class="row row-grid">

        <div class="col-xs-6 col-sm-4 col-lg-2">
            <a href="/" class="page-tile">
                <div class="page-tile__content page-tile__content--fill-navy">
                    <div class="page-tile__icon">
                         <i class="fa fa-arrow-up"></i>
                    </div>
                    <div class="page-tile__label">
                        Songs
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-lg-2">
            <a href="/" class="page-tile">
                <div class="page-tile__content page-tile__content--fill-green">
                    <div class="page-tile__icon">
                         <i class="fa fa-arrow-up"></i>
                    </div>
                    <div class="page-tile__label">
                        Songs
                    </div>
                </div>
            </a>
        </div>

         <div class="col-xs-6 col-sm-4 col-lg-2">
            <a href="/" class="page-tile">
                <div class="page-tile__content page-tile__warning">
                    <div class="page-tile__icon">
                         <i class="fa fa-arrow-up text-success"></i>
                    </div>
                    <div class="page-tile__label">
                        Songs
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-lg-2">
            <a href="/" class="page-tile">
                <div class="page-tile__content page-tile__danger">
                    <div class="page-tile__icon">
                         <i class="fa fa-arrow-up text-success"></i>
                    </div>
                    <div class="page-tile__label">
                        Songs
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-lg-2">
            <a href="/" class="page-tile">
                <div class="page-tile__content page-tile__primary">
                    <div class="page-tile__icon">
                         <i class="fa fa-arrow-up text-success"></i>
                    </div>
                    <div class="page-tile__label">
                        Songs
                    </div>
                </div>
            </a>
        </div>

        <div class="col-xs-6 col-sm-4 col-lg-2">
            <a href="/" class="page-tile">
                <div class="page-tile__content page-tile__primary">
                    <div class="page-tile__icon">
                         <i class="fa fa-arrow-up text-success"></i>
                    </div>
                    <div class="page-tile__label">
                        Songs
                    </div>
                </div>
            </a>
        </div>

     </div>

    <h4>Tiles as Text</h4>
    <div class="row">

        <div class="col-sm-6 col-lg-3">
            <a href="/" class="page-tile">
                <div class="page-tile__content">
                    <div class="page-tile__value">
                        <span>&euro;</span> 1.250,00
                    </div>
                    <div class="page-tile__label">
                        Earnings
                    </div>
                </div>
                <div class="page-tile__summary">
                     <i class="fa fa-arrow-up text-success"></i> +5% This week
                </div>
            </a>
        </div>

        <div class="col-sm-6 col-lg-3">
            <a href="/" class="page-tile">
                <div class="page-tile__content">
                    <div class="page-tile__value">
                        <span>&euro;</span> 1.250,00
                    </div>
                    <div class="page-tile__label">
                        Earnings
                    </div>
                </div>
                <div class="page-tile__summary">
                     <i class="fa fa-arrow-up text-success"></i> +5% This week
                </div>
            </a>
        </div>

       <div class="col-sm-6 col-lg-3">
            <a href="/" class="page-tile">
                <div class="page-tile__content">
                    <div class="page-tile__value">
                        <span>&euro;</span> 1.250,00
                    </div>
                    <div class="page-tile__label">
                        Earnings
                    </div>
                </div>
                <div class="page-tile__summary">
                     <i class="fa fa-arrow-up text-success"></i> +5% This week
                </div>
            </a>
        </div>

       <div class="col-sm-6 col-lg-3">
            <a href="/" class="page-tile">
                <div class="page-tile__content">
                    <div class="page-tile__value">
                        <span>&euro;</span> 1.250,00
                    </div>
                    <div class="page-tile__label">
                        Earnings
                    </div>
                </div>
                <div class="page-tile__summary">
                     <i class="fa fa-arrow-up text-success"></i> +5% This week
                </div>
            </a>
        </div>

    </div>


{% endblock %}