{% extends "vds/base.html" %}
{% load i18n admin_urls static admin_modify crispy_forms_tags crispy_forms_field %}

{% block page %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>
    {% csrf_token %}
    <div class="vds-page">

        <div class="vds-page-title">
            {% include "vds/_page_header.html" %}
        </div>

        <div class="vds-page-content">
            {% block page-content %}
            {% endblock %}
        </div>

    </div>
</form>
{% endblock %}