{% extends "base_aui.html" %}

{% load list_filter %}

{% block header %}
    List Someting
{% endblock %}

{% block content %}

    {% block filters %}
       {% for spec in list_filter %}
       <div class="filter">
            {% list_filter_render spec %}
       </div>
       {% endfor %}
    {% endblock %}

    {% block result %}
    <table>
        <tr>
            {% for header in list_headers %}
            <th>{{ header }}</th>
            {% endfor %}
        </tr>
        {% for list_result in list_results %}
        <tr>
            {% for field in list_result %}
            <td>{{ field }}</td>
            {% endfor %}
        </tr>
        {% empty %}
        <tr>
            Empty Table please create a new item here.
        </tr>
        {% endfor %}
    </table>


    {% endblock %}
{% endblock %}