{% extends "vds/object_page.html" %}

{% load crispy_forms_tags  %}

{% block page-content %}
    {% crispy form %}


    <script type="text/javascript">
    // JavaScript Tabs
    $(function() {
        $( document ).ready(function() {

            shipment_lookup = {
                '2': {
                    'details': true
                },
                '1': {
                    'details': false
                }
            };

            $("input[name=shipment_method]:radio").change(function(){
                alert('change');
           });


           var form_init = function(){

           }

           $('#fieldset-extra').hide();
           $('#field-parcels').hide();

        });
    });

    </script>

{% endblock %}