.panel-sidebar .nav-container {
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  background-color: #212529;
  width:230px;
}


.panel-sidebar .brand {
  height: 56px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 20px;
  background-color: #272c30;
  border-bottom: 1px solid transparent;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
}



.nav__list {
  display: flex;
  --webkit-box-orient: vertical;
  flex-direction:column;
  position: absolute;
  top:96px;
  bottom: 0;
  left:0;
  right: 0;
  margin:0;
  padding:0;
  list-style: None;
}

.nav__item ul, .nav__item li{
  list-style: none;
}

.nav__item {
  display: block;
  min-height: 40px;
  margin:0;
}

.nav__item a{
  color:#C3CFd8;
  padding: 0;
  height: 40px;
  display: flex;
  background-color: transparent;
  font-size:13px;
  color:#C5cfdd;
  display: block;
  padding-left: 27px;

}

.nav__item .nav__icon {
  width: 30px;
}

.nav__item>a{
  text-transform: uppercase;
  color:#FFF;
  font-size:14px;
}

.nav__item a:hover{
  color:#FFF;
  text-decoration: none;
}

.navigation-system {
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
}