{% extends "design_head.html" %}

{% block head_title %}Pattern - Login{% endblock %}

{% block content %}

<div class="row">
    <div class="center-block card col-md-3">

        <div class="text-xs-center">
            <div class="login-form__logo">
                <h1><span class="fa fa-cloud"></span></h1>
            </div>
        </div>

        <form class="form-stacked">

            <div class="form-element">
                <div class="form-element__control">
                    <input type="email" class="form-control form-control-lg" id="inputProjectName" placeholder="Email">
                </div>
            </div>

            <div class="form-element">
                <div class="form-element__control">
                    <input type="password" class="form-control form-control-lg" id="inputKey" placeholder="Password">
                </div>
            </div>

            <div class="form-element">
                <div class="form-element__control">
                    <button class="btn btn-primary btn-lg btn-block">Sign In</button>
                </div>
            </div>

            <div class="form-element">
                <div class="form-element__control">
                    <p class="text-xs-right">
                        <a href="">Forgot your password?</a>
                    </p>
                </div>
            </div>

        </form>

    </div>
</div>
{% endblock %}