{% extends "design_head.html" %}

{% block head_title %}Pattern - Layout Content Only{% endblock %}

{% block page-header %}
        <div class="page-header--icon">
            <i class="fa fa-coffee" aria-hidden="true"></i>
        </div>
        <div class="page-header--title">
            <div class="page-header--record-type">
                Objects
            </div>
            <div class="page-header--record-name">
                Instance
            </div>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                <li class="breadcrumb-item"><a href="#">App</a></li>
                <li class="breadcrumb-item"><a href="#">Objects</a></li>
                <li class="breadcrumb-item active">Instance</li>
            </ol>
        </div>
        <div class="page-header--actions">
            <button type="button" class="btn btn-danger">Delete</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-secondary">Action</button>
            <button type="button" class="btn btn-primary">Save</button>
        </div>
{% endblock %}

{% block page-content %}

    <style>

    .test {
        width: 100%;
{#        //border:1px solid red;#}
{#        background-color: #ffffff;#}
    }

    </style>

    <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>
    <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>
     <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content <br />
        info object new content, info object new contentinfo object new content info object new content
        info object new content, info object new contentinfo object new content info object new content
    </section>
     <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>

     <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>
    <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>
     <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content <br />
        info object new content, info object new contentinfo object new content info object new content
        info object new content, info object new contentinfo object new content info object new content
    </section>
     <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>

     <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>
    <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>
     <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content <br />
        info object new content, info object new contentinfo object new content info object new content
        info object new content, info object new contentinfo object new content info object new content
    </section>
     <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>

     <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>
    <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>
     <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content <br />
        info object new content, info object new contentinfo object new content info object new content
        info object new content, info object new contentinfo object new content info object new content
    </section>
     <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>

     <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>
    <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>
     <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content <br />
        info object new content, info object new contentinfo object new content info object new content
        info object new content, info object new contentinfo object new content info object new content
    </section>
     <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>

     <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>
    <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>
     <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content <br />
        info object new content, info object new contentinfo object new content info object new content
        info object new content, info object new contentinfo object new content info object new content
    </section>
     <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>

     <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>
    <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>
     <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content <br />
        info object new content, info object new contentinfo object new content info object new content
        info object new content, info object new contentinfo object new content info object new content
    </section>
     <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>

     <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>
    <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>
     <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content <br />
        info object new content, info object new contentinfo object new content info object new content
        info object new content, info object new contentinfo object new content info object new content
    </section>
     <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>

     <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>
    <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>
     <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content <br />
        info object new content, info object new contentinfo object new content info object new content
        info object new content, info object new contentinfo object new content info object new content
    </section>
     <br />
    <section class="test">
        info object new content, info object new contentinfo object new content info object new content
    </section>

{% endblock %}