{% load crispy_forms_tags %}
{% load crispy_forms_utils %}
{% load crispy_forms_field %}

{% specialspaceless %}
{% if formset_tag %}
<form {{ flat_attrs|safe }} method="{{ form_method }}" {% if formset.is_multipart %} enctype="multipart/form-data"{% endif %}>
{% endif %}

    <div class="vds-hide " id="{{ formset.prefix }}-empty">
        <tr>
            {% for field in formset.empty_form %}
                <td>
                    {% crispy_field field %}
                </td>
            {% endfor %}
        </tr>
    </div>

    <table{% if form_id %} id="{{ form_id }}_table"{% endif%} class="vds-table vds-table--bordered vds-table--cell-buffer">
        <thead>

                <tr class="vds-text-title--caps">
                    {% for field in formset.forms.0 %}
                        {% if field.label and not field|is_checkbox and not field.is_hidden %}
                            <th for="{{ field.auto_id }}" class="control-label {% if field.field.required %}requiredField{% endif %}">
                                {{ field.label|safe }}{% if field.field.required %}<abbr class="vds-required" title="required">*</abbr>{% endif %}
                            </th>
                        {% endif %}
                    {% endfor %}
                </tr>

        </thead>

        <tbody>
            {% for form in formset %}
                {% if form_show_errors and not form.is_extra %}
                    {% include "vds/forms/errors.html" %}
                {% endif %}
                <tr>
                    {% for field in form %}
                        <td>
                           {% crispy_field field %}
                           {% include 'vds/forms/layout/help_text_and_errors.html' %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="12">
                    <a class="vds-button--brand vds-button" href="">Add row</a>
                </th>
            </tr>
        </tfoot>
    </table>

{% if formset_tag %}</form>{% endif %}
{% endspecialspaceless %}
