{% extends "vds_base.html" %}
{% load i18n admin_urls static admin_modify crispy_forms_tags crispy_forms_field %}

{% block page %}

<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.model_name }}_form" novalidate>{% csrf_token %}

    <div class="vds-page vds-page-title-fixed">
        <div class="vds-page-title">

            <div class="vds-page-header" role="banner">
              <div class="vds-grid">
                <div class="vds-col vds-has-flexi-truncate">

                  <div class="vds-media vds-no-space vds-grow">
                    <div class="vds-media__figure">
                      <svg aria-hidden="true" class="vds-icon vds-icon-standard-user">
                        <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#user"></use>
                      </svg>
                    </div>
                    <div class="vds-media__body">
                      <p class="vds-text-title--caps vds-line-height--reset">0001455.01</p>
                      <h1 class="vds-page-header__title vds-m-right--small vds-align-middle vds-truncate" title="this should match the Record Title">{% if add %}{% blocktrans with name=opts.verbose_name %}Add {{ name }}{% endblocktrans %}{% else %}{{ original|truncatewords:"18" }}{% endif %}</h1>
{#                      <nav class="vds-m-bottom--xx-small" role="navigation" aria-label="Breadcrumbs">#}
{#                        <ol class="vds-breadcrumb vds-list--horizontal">#}
{#                          <li class="vds-breadcrumb__item vds-text-title--caps"><a href="javascript:void(0);">Dashboard</a></li>#}
{#                          <li class="vds-breadcrumb__item vds-text-title--caps"><a href="javascript:void(0);">PIM</a></li>#}
{#                          <li class="vds-breadcrumb__item vds-text-title--caps"><a href="javascript:void(0);">Products</a></li>#}
{#                        </ol>#}
{#                        </nav>#}
                    </div>
                  </div>
                </div>
                <div class="vds-col vds-no-flex vds-grid vds-align-top">
        {#          <button class="vds-button vds-button--neutral vds-not-selected" aria-live="assertive">#}
        {#            <span class="vds-text-not-selected">#}
        {#              <svg aria-hidden="true" class="vds-button__icon--stateful vds-button__icon--left">#}
        {#                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>#}
        {#              </svg>Follow</span>#}
        {#            <span class="vds-text-selected">#}
        {#              <svg aria-hidden="true" class="vds-button__icon--stateful vds-button__icon--left">#}
        {#                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>#}
        {#              </svg>Following</span>#}
        {#            <span class="vds-text-selected-focus">#}
        {#              <svg aria-hidden="true" class="vds-button__icon--stateful vds-button__icon--left">#}
        {#                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>#}
        {#              </svg>Unfollow</span>#}
        {#          </button>#}
        {#          <div class="vds-button-group" role="group">#}
        {#            <button class="vds-button vds-button--neutral">Edit</button>#}
        {#            <button class="vds-button vds-button--neutral">Delete</button>#}
        {#            <button class="vds-button vds-button--neutral">Clone</button>#}
        {#            <div class="vds-dropdown-trigger vds-dropdown-trigger--click vds-button--last" aria-expanded="false">#}
        {#              <button class="vds-button vds-button--icon-border-filled" aria-haspopup="true">#}
        {#                <svg aria-hidden="true" class="vds-button__icon">#}
        {#                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>#}
        {#                </svg>#}
        {#                <span class="vds-assistive-text">More Actions</span>#}
        {#              </button>#}
        {#            </div>#}
        {#          </div>#}


                    {% for e in elements %}
                        {{ e }}
                    {% endfor %}

                    {% for button in detail_actions %}
                        {{ button }}
                    {% endfor %}

                     <!--<a class="vds-button vds-button--neutral" href="/">Cancel</a>-->
                     <!--<button class="vds-button vds-button--brand" type="submit"><i class="fa fa-floppy-o"></i> Save</button>-->

                </div>
              </div>
            </div>

        </div>


        <div class="vds-page-content">
             {% crispy adminform.form %}
        </div>

    </div>
</form>


{% endblock %}