body {
  background-color: $global-background-color;
}

a {
  color: $global-link-color;
}

/*
// App
*/
#app {
  margin: 0 auto;
  width: 100%;
  min-width: 320px;
  background-color: $global-background-color;

    &.navigation__left.navigation__open {
      padding-left: $navigation-width;
    }

    &.navigation__right.navigation__open {
      padding-right: $navigation-width;
    }

    // Mini Navigation
    &.navigation__left.navigation__open.navigation__mini {
      padding-left: $navigation-width-mini;
    }

    &.navigation__right.navigation__open.navigation__mini {
      padding-right: $navigation-width-mini;
    }
}


/*
// Navigation
*/
#navigation {
  width: $navigation-width;
  background-color: $navigation-background-color;
  color: $navigation-font-color;
  position: fixed;
  top: $header-height;
  bottom: 0;
  padding-top: 1.8rem;
  overflow: hidden;
  overflow-y: auto;
  transition: all 0.18s ease-out;
  border-right: 1px solid $navigation-border-color;


  .navigation__mini & .navigation__wrapper  {
     @include translate3d($navigation-width - $navigation-width-mini , 0, 0);
  }

  ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }

  a {
    display: block;

    padding: 0.5rem 1rem 0.5rem 20px;
    text-decoration: none;
    font-size:14px;
    color:#3572b0;
  }

  a:hover{
    background-color:$navigation-active-background-color;
  }

  a.navigation__active{
    padding-left:16px;
    border-left:4px solid $global-link-color;
    font-weight: 600;
    color: #333;
  }

  ul ul {
    margin: 0 0 1em;
  }

  li li a{
    padding-left:3rem;

    .navigation__mini & {
      padding-left: 20px;
    }
  }

  .navigation__icon {
    width:20px;
    text-align: center;
    color: $navigation-icon-color;
    font-size:14px;
  }

  a.navigation__active .navigation__icon{
    color: #333;
  }

  .navigation__name{
    font-size:13px
  }


  .navigation__mini & .navigation__name{
    opacity: 0;
  }

  .navigation__divider {
    border-top:1px solid $navigation-border-color;
    height:1px;
  }

  .navigation__footer {
    width: $navigation-width;
    //position:absolute;
    //bottom:0;
    //left:0;
    background-color: green;
  }

  .navigation__left & {
    left:0;
    @include translate3d(-100%, 0, 0);
  }

  .navigation__right & {
    right: 0;
    @include translate3d(100%, 0, 0);
  }

  .navigation__open & {
    @include translate3d(0, 0, 0);
  }

  .navigation__left.navigation__open.navigation__mini & {
    @include translate3d($navigation-width-mini - $navigation-width, 0, 0);
  }
}

/* Sidebar */
#sidebar-container {
  display: None;
}

/* Main */
#main-container {
  margin-top: $header-height;
  background-color: $global-background-color;
  padding:2rem;
}

/* Header */
#header {
  height: $header-height;
  width: 100%;
  background-color:$header-background-color;
  position: fixed;
  padding:0;
  top:0;
  right: 0;
  left: 0;
  z-index: 1030;

  .header__brand {
    height: $header-height;
    width: $navigation-width;
    background-color: $header-background-color;
    font-weight: 200;

    a {
      display: block;
      height: $header-height;
      color:#FFF;
      font-size:18px;
      line-height: $header-height;
      padding:0 20px;
      text-decoration: none;
    }

    .navigation__mini & {
      width: $navigation-width-mini;

      .header__title {
        opacity: 0;
      }
    }
  }

  .header__navigation {
    position: fixed;
    top:0;
    height: $header-height;
    margin-left: $navigation-width;
    //border-bottom: 1px solid #2e3D54;

    .navigation__mini & {
      margin-left: $navigation-width-mini;
    }
  }
}



/* Footer */
#footer-container {
  margin-left: $navigation-width;
  color: $footer-color;
  padding: 0 10px 21px;
  min-height: 44px;
  text-align: center;
}


/* Grid */
.row-grid {
  margin-bottom: 1.875rem;
}
