
.page-header {
  border-spacing: 0;
  box-sizing: border-box;
  display: table;
  table-layout: auto;
  width: 100%;
  margin-bottom:20px;
  border-bottom: 1px solid rgba(0,0,0,.2);
}

.page-header-title {
      box-sizing: border-box;
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: middle;
}

.page-header-actions {
  padding-left: 20px;
  text-align: right;
  vertical-align: middle;
  box-sizing: border-box;
  display: table-cell;
  margin: 0;
  padding: 0;
}