@keyframes spin-around { from { transform: rotate(0deg); }
  to { transform: rotate(359deg); } }

.btn {
  position: relative;
  padding: 0.375rem 1.4rem;

  &.btn--loading {
    //color: transparent;
    pointer-events: none;

    padding: 0.375rem 1.4rem;
    padding-left: 1.9rem;
    padding-right: 0.9rem;

    opacity:0.85;
    //color:rgba(255,255,255,.5);

    //background-size: 30px;
    //background-position: 15px center;
    //background-repeat: no-repeat;
    ////padding-left: 55px;
    //background-image: url(https://login.mailchimp.com/release/11.2.53/images/buttons/loading-gif-button-dark.png);

    &:after{
      left:1rem;
      top: 50%;
      position: absolute !important;
      height:1.0rem;
      width:1.0rem;
      margin-left: -0.5rem;
      margin-top: -0.5rem;
      color:rgba(255,255,255,.5);
      font-size: 12px;
      line-height: 1.5;
      vertical-align: middle;
    }

  }
}


.btn.btn--loading:after {
  animation: spin-around 500ms infinite linear;
  border: 2px solid #d3d6db;
  border-radius: 290486px;
  border-right-color: transparent;
  border-top-color: transparent;
  content: "";
  display: block;
  height: 1rem;
  position: relative;
  width: 1rem;
}


