#page {
  margin-top: $header-height;
  background-color: $global-background-color;
  width: 100%;
  position: relative;
  //padding:2rem;
  //border: 1px solid red;
}

.page-header {
  border-spacing: 0;
  box-sizing: border-box;
  display: table;
  table-layout: auto;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding:2rem;
  background-color: #ffffff;
  height: 85px;

  &--small{
    padding:0.5rem 2rem;
  }

  .page-header--fixed &{
    position: fixed;
    margin-left:0;
    margin-top:0;
    width:calc(100% - 60px);
    //width: 100%;
    //background-color: #ffffff;
    //top: 100px;
    //left:0px;
    //padding:0;
    //margin-left:30px;
    //transform: translateX(90%);
    ////top: 0;
    ////float: left;
    //
    //background-color:#ddd;
    //position: fixed;
    //padding: 2em;
    //left: 50%;
    //top: 0%;
    //transform: translateX(-50%);
    //width:inherit

  }

  .breadcrumb {
    padding: 0;

    .page-header--small & {
      font-size: 0.8rem;
    }
  }

  .page-header--small .breadcrumb{
    //font-size: 1rem;
  }

  &--icon {
    display: table-cell;
    box-sizing: border-box;
    vertical-align: middle;
    text-align: center;
    width:48px;
    height:48px;
    padding-right: 8px;
    //background-color: #00A000;
    font-size: 48px;
  }

  &--title{
    box-sizing: border-box;
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: left;
    vertical-align: middle;
  }

  &--actions{
    text-align: right;
    vertical-align: middle;
    box-sizing: border-box;
    display: table-cell;
    margin: 0;
    padding: 0;
  }

  &--transparent {
    background: transparent;
    border:0;
    font-size:1rem;

    //& .page-header--record-name {
    //  font-size:1rem;
    //}

  }

  &--record-type{
    font-size:1.4rem;

    .page-header--small & {
      display: none;
    }
  }

  &--record-name{
    font-size:2rem;

    .page-header--small & {
      font-size:1.8rem;
    }

  }

}

.page-content {
  padding:2rem;

  .page-header--fixed & {
    padding-top:109px;
  }

}