
.vds-tabs--default__nav {
  padding:0 0.75rem;
  margin-bottom: 1rem;
}

.vds-tabs--default__content{
  padding:0 0.75rem;
}

.vds-tabs--default__item.vds-active {
  font-weight: bold;
}

@media (min-width: 48em){
    .vds-tabs--default__nav{
      padding:0 1.5rem;
    }

    .vds-tabs--default__content{
      padding:0 1.5rem;
    }
}