<div {% if fieldset.css_id %}id="{{ fieldset.css_id }}"{% endif %} class="vds-fieldset{% if fieldset.css_class %} {{ fieldset.css_class }}{%endif %}">
    <div class="vds-block">
        {% if legend %}
        <div class="vds-block__header">
            <div class="vds-block__title">
                {{ legend|safe }}
            </div>
        </div>
        {% endif %}
        <div class="vds-block__body">
            <div class="vds-form--horizontal">
                {{ fields|safe }}
            </div>
        </div>
    </div>
</div>