{% load crispy_forms_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}


    {% if field|is_checkbox %}

    <div class="vds-form-element">
        <div class="vds-form-element__control">
            <label class="vds-checkbox" for="{{ field.id_for_label }}">
                {% crispy_field field %}
                <span class="vds-checkbox--faux"></span>
                <span class="vds-form-element__label">{{ field.label|safe }} {% if field.field.required %}<abbr class="vds-required" title="required">*</abbr>{% endif %}</span>
            </label>
        </div>
     </div>
    {% else %}

    <div class="vds-form-element {% if field.errors %}vds-has-error{% endif %}">
        <label for="{{ field.id_for_label }}" class="vds-form-element__label {{ label_class }}">
            {{ field.label|safe }} {% if field.field.required %}<abbr class="vds-required" title="required">*</abbr>{% endif %}
        </label>
        <div class="vds-form-element__control">
           {% crispy_field field %}
           {% include 'vds/forms/layout/help_text_and_errors.html' %}
        </div>
    </div>

    {% endif %}


{% endif %}

{#{% if field.is_hidden %}#}
{#    {{ field }}#}
{#{% else %}#}
{##}
{#    {% if field|is_checkbox %}#}
{##}
{#        <div class="form-group">#}
{#        {% if label_class %}#}
{#            <div class="controls col-{{ bootstrap_device_type }}-offset-{{ label_size }} {{ field_class }}">#}
{#        {% endif %}#}
{#    {% endif %}#}
{#    <{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" {% if not field|is_checkbox %}class="form-group{% else %}class="checkbox{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if form_show_errors%}{% if field.errors %} has-error{% endif %}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">#}
{#        {% if field.label and not field|is_checkbox and form_show_labels %}#}
{#            <label for="{{ field.id_for_label }}" class="control-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">#}
{#                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}#}
{#            </label>#}
{#        {% endif %}#}
{##}
{#        {% if field|is_checkboxselectmultiple %}#}
{#            {% include 'vds/layout/checkboxselectmultiple.html' %}#}
{#        {% endif %}#}
{##}
{#        {% if field|is_radioselect %}#}
{#            {% include 'vds/layout/radioselect.html' %}#}
{#        {% endif %}#}
{##}
{#        {% if not field|is_checkboxselectmultiple and not field|is_radioselect %}#}
{#            {% if field|is_checkbox and form_show_labels %}#}
{#                <label for="{{ field.id_for_label }}" class="{% if field.field.required %} requiredField{% endif %}">#}
{#                    {% crispy_field field %}#}
{#                    {{ field.label|safe }}#}
{#                    {% include 'vds/layout/help_text_and_errors.html' %}#}
{#                </label>#}
{#            {% else %}#}
{#                <div class="controls {{ field_class }}">#}
{#                    {% crispy_field field %}#}
{#                    {% include 'vds/layout/help_text_and_errors.html' %}#}
{#                </div>#}
{#            {% endif %}#}
{#        {% endif %}#}
{#    </{% if tag %}{{ tag }}{% else %}div{% endif %}>#}
{#    {% if field|is_checkbox %}#}
{#        {% if label_class %}#}
{#            </div>#}
{#        {% endif %}#}
{#        </div>#}
{#    {% endif %}#}
{#{% endif %}#}
